{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.0",
          "browsers": [
            "> 1%",
            "last 2 versions"
          ]
        },
        "modules": false,
        "debug": true,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}